[alias]
	s = status
	c = checkout
	b = branch
	l = log --decorate
	g = grep
	bm = branch --merged
	commit = commit -v
	tree = log --graph --pretty=oneline --abbrev-commit --decorate
	stat = diff --stat
	ls-files-exclude-other = ls-files --exclude-standard --others
[color]
	ui = true
[branch]
	autosetuprebase = always
[user]
	name = ksss
	email = co000ri@gmail.com
[core]
	editor = vim
	whitespace = trailing-space
	excludesfile = ~/.gitignore
[rebase]
	autosquash = true
[ghq]
	root = ~/ghq
[push]
	default = simple
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
