[alias]
	tree = log --graph --pretty=oneline --abbrev-commit --decorate
	stat = diff --stat
	ls-files-exclude-other = ls-files --exclude-standard --others
[color]
	ui = true
[branch]
	autosetuprebase = always
[user]
	name = ksss
	email = co000ri@gmail.com
	signingkey = 3BDED9B981BE5BC2
[core]
	editor = vim
	whitespace = trailing-space
	excludesfile = ~/.gitignore
[rebase]
	autostash = true
[ghq]
	root = ~/src
[push]
	default = simple
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[github]
	user = ksss
[commit]
	gpgsign = true
[gpg]
	program = gpg
[diff]
	compactionHeuristic = true
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[interactive]
	diffFilter = diff-highlight
