[alias]
	s = status
	c = checkout
	b = branch
	l = log
	tree = log --graph --pretty=oneline --abbrev-commit --decorate
[color]
	ui = true
[branch]
	autosetuprebase = always
[user]
	name = ksss
	email = co000ri@gmail.com
