'*':
  'editor':
    'fontFamily': 'Ricty'
    'preferredLineLength': 120
    'softWrap': true
    'softWrapAtPreferredLineLength': true
    'invisibles':
      'tab': '>...'
  'exception-reporting':
    'userId': 'a933c68d-ef7a-10c3-34be-b2ac671e5631'
  'welcome':
    'showOnStartup': false
  'metrics':
    'userId': '6fda0e809e6ce509b3ebdbd6c19845dc15ba142a'
  'core': {}
